[[source]]
url = "https://pypi.org/simple"
name = "pypi"
verify_ssl = true

[dev-packages]
nose = "*"
coverage = "*"
mypy = "*"
pylint = "*"

[packages]
altair = "*"
pandas = "*"
chevron = "*"

[requires]
python_version = "3.6"
